.productList {
    display: flex;
    flex-direction: column;
    padding: 16px;

    &__filter {
        display: flex;
        background-color: white;
        justify-content: space-between;
        padding: 8px ;
        margin-bottom: 20px;
        border-radius: 10px;

        &Control {
            min-width: 180px;           
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__noData {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        

        &Content {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px dashed #ccc;
            border-radius: 50px;
            align-items: center;
            height: 200px;
            gap: 8px;
            background-color: white;
        }
    }
}