.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: visible;

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
                overflow-y: visible;
        overflow-x: hidden;
    }

    &__loader{
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
}
