.navigationBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    padding: 10px;
  }
  &__menu {
    display: flex;
    padding-left: 100px;
    width: 100%;
    background-color:rgb(178 178 178);
    gap: 20px;
    &Item {
      display: flex;
      gap: 5px;
    }
  }
}
